*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-image: url(./pexels-krivec-ales-547114.jpg);
    background-size: cover;
    box-sizing: border-box;
}

.classicq{
    width: 500px;
    height: 500px;
    
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20vh;
    margin-bottom: 20vh;
    background:rgba(0, 0, 0, 0.3);
    border:3px solid black;
    border-radius: 12px;
    padding: 40px;
}
.question{
    margin-bottom: 25px;
}
#question-label{
    display: block;
    font-size: 24px;
    margin-bottom: 20px;
    color: aliceblue;

}
#question-inp{
    width:75%;
    height: 5rem;
    font-size: 24px;

}
#answer-label{
    font-size: 24px;
    display: block;
    margin-bottom: 12px;
    color: aliceblue;
}
#answer-inp{
    width: 50%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    background:transparent;
    border: 3px solid black;
    padding: 10px;

}
#qarea{
   
    font-size: 18px;
   
    resize:none;

    background: transparent;
    
    border: 3px solid black;
    padding: 10px;
}

.icons{
    margin-top: 20px;
    width: 50%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative
    
}


#icon1{
    margin: 30px;
    color: #ff22bb;
    width: 50px;
}


#icon2{
    margin: 30px;
    color: #69EBFD;
   
}

.btn{
    background-color: transparent;
    border: none;
}


#question-category{
    background:transparent;
    border: none;
    font-size: 16px;
    margin-left: 10px;
}

#label-category{
    color: white;
    font-size: 16px;
}

.category{
    margin-bottom: 20px;
}
